
nav ul{
    margin-top: 40px;
    margin-left: 30px;
}

nav li span{
    font-weight: bold;
}

nav ul li{
    text-align:left;
    padding-top: 20px;
}

nav ul li img{
   padding-right: 10px;
}

nav li a {
    width: 170px;
    text-decoration: none;
    font-family:HelveticaNeue-Medium;
    font-size:15px;
    color:#ffffff;
    letter-spacing:0;
}

nav li a:hover {
    background:#236875;
    border-radius: 0;
    height: 35px;
    color: #ffffff;
}